<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bhagavadgitaapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Bhagavad Gita"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">

        <!-- Splash Screen -->
        <activity android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other Activities -->
        <activity android:name=".LanguageSelectionActivity"
            android:exported="false" />
        <activity android:name=".MainMenuActivity"
            android:exported="false" />

    </application>

</manifest>
